/* ----------------------------------------------------------------
-----------Boutons pages ------------------------------------------
----------------------------------------------------------------- */


.btn {
  margin: 50px 0px 50px 0px;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(170deg, $secondary, $primary);
  color: white;
  box-shadow: -5px 5px 5px lightgrey;
}
