/* ----------------------------------------------------------------
-----------Animation boutons---------------------------------------
----------------------------------------------------------------- */
.btn:hover {
  opacity: 0.85;
  box-shadow: -4px 4px 5px rgb(94, 94, 94);
  transition: 300ms;
}
