/* ----------------------------------------------------------------
-----------Boutons pages ------------------------------------------
----------------------------------------------------------------- */


.btn {
  margin: 50px 0px 50px 0px;
  width: 250px;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(170deg, $secondary, $primary);
  color: white;
  text-align: center;
  padding: 15px 0px;
  box-shadow: -3px 3px 5px rgb(200, 200, 200);
}
