/* ----------------------------------------------------------------
-----------animation checkbox--------------------------------------
----------------------------------------------------------------- */

@keyframes kickin {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes iconrotate {
  10% {
    transform: rotate(-90deg);
  }

  20% {
    transform: rotate(-75deg) scale(1.03);
  }

  40% {
    transform: rotate(-60deg) scale(1.08);
  }

  60% {
    transform: rotate(-45deg) scale(1.15);
  }

  80% {
    transform: rotate(-30deg) scale(1.08);
  }

  100% {
    transform: rotate(5deg) scale(1);
  }
}

.dishes__box:hover {
  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    animation: kickin ease 300ms forwards;
    &__icon {
      animation: iconrotate ease 500ms forwards;
    }
  }
  .dish_price {
    transform-origin: 50% 50%;
    animation: kickin ease 300ms forwards;
    margin-right: 0px;
  }
}
