/* ----------------------------------------------------------------
-----------animation checkbox--------------------------------------
----------------------------------------------------------------- */

.dishes__box:hover {
  box-shadow: -5px 5px 5px rgb(133, 133, 133);
  transition: 300ms;
  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    animation: kickin ease 300ms forwards;
    &__icon {
      animation: iconrotate ease 500ms forwards;
    }
  }
  .dish_price {
    transform-origin: 50% 50%;
    animation: kickin ease 300ms forwards;
    margin-right: 0px;
  }
}
