/* ----------------------------------------------------------------
-----------Animation like -----------------------------------------
----------------------------------------------------------------- */

.like2 {
  background: -webkit-linear-gradient(-90deg, $primary, $secondary);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}

.like1 {
  z-index: 1;
  background-color: rgb(246, 246, 246);
  &:hover {
    opacity: 0;
    transition: 700ms;
  }
}
.cardbox__like .like1 {
  background-color: white;
}
