.food__btn {
  margin: 50px 0px 50px 0px;
  width: 225px;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(170deg, $secondary, $secondary 50%, $primary);
  color: white;
  box-shadow: -5px 5px 5px lightgrey;
}
