/* Règles spéciales de polices*/

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Robotobold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Robotothin";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

//Règles générales de polices

body {
  @extend %default;
  @extend %defaultsize;
  font-weight: 400;
}

.food__header {
  &__title {
    @extend %special;
    @extend %mediumsize;
    font-weight: lighter;
  }
  &__like {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}

h1 {
  @extend %special;
  @extend %littlesize;
  font-weight: lighter;
}

//ajustements aux différentes parties

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

h2 {
  @extend %bold;
  @extend %bigsize;
}

.search {
  color: $footer;
  &__txt {
    @extend %tinysize;
  }
}

.title {
  @extend %littlesize;
}

.presentation {
  &__txt {
    color: $footer;
    @extend %foodsize;
    @extend %thin;
    font-weight: 600;
  }
}

.howto__steps__box {
  &__nbr,
  &__txt {
    @extend %tinysize;
  }
}

.fa-ellipsis-v {
  font-size: 13px;
}

.fa-bars {
  @extend %tinysize;
}

.fa-store {
  @extend %tinysize;
  color: $primary;
}

.grey {
  color: rgb(126,126,126);
}

.cardbox {
  &__txt {
    &__title {
      @extend %foodsize;
      @extend %bold;
    }
    &__place {
      @extend %foodsize;
      @extend %thin;
      font-weight: bolder;
    }
  }
  &__like {
    @extend %defaultsize;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}

.footer__txt {
  @extend %tinysize;
  &box__line__icon {
    @extend %tinysize;
  }
}

.food__block__title {
  @extend %thin;
  @extend %foodsize;
}

.dish_name {
  @extend %foodsize;
}

.dish_sub {
  @extend %tinysize;
}

.dish_price {
  @extend %tinysize;
  @extend %bold;
}

.btn {
  @extend %foodsize;
}
