/* Règles spéciales de polices*/

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Robotobold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Robotothin";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

//Règles générales de polices

body {
  @extend %default;
  @extend %defaultsize;
  font-weight: 400;
}

.food__header {
  &__title {
    @extend %special;
    @extend %mediumsize;
    font-weight: lighter;
  }
  &__like {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}

h1 {
  @extend %special;
  @extend %littlesize;
  font-weight: lighter;
}

//ajustements aux différentes parties

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

h2 {
  @extend %bold;
  @extend %bigsize;
}

.presentation {
  &__txt {
    @extend %thin;
    @extend %littlesize;
    font-weight: 600;
  }
  &__btn {
    @extend %littlesize;
    font-weight: bolder;
  }
}

.cardbox {
  &__txt {
    &__title {
      @extend %mediumsize;
      @extend %bold;
    }
    &__place {
      @extend %littlesize;
      font-weight: lighter;
    }
  }
  &__like {
    @extend %bigsize;
  }
}

.footer__txt {
  @extend %tinysize;
  &box__line__icon {
    @extend %tinysize;
  }
}

.food__block__title {
  @extend %thin;
  @extend %foodsize;
}

.dish_name {
  @extend %foodsize;
}

.dish_sub {
  @extend %tinysize;
}

.dish_price {
  @extend %tinysize;
  @extend %bold;
}

.food__btn {
  @extend %foodsize;
}
