/* Polices de toutes les pages*/

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Robotobold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Robotothin";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

//Règles générales de polices

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1,
.food__header__title {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

//ajustements aux différentes parties

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

%littlesize {
  font-size: 25px;
}

%mediumsize {
  font-size: 30px;
}

%bigsize {
  font-size: 35px;
}

h2 {
  font-family: "Robotobold";
  @extend %bigsize;
}

.presentation {
  &__txt {
    font-family: "Robotothin";
    @extend %littlesize;
    font-weight: 600;
  }
  &__btn {
    @extend %littlesize;
    font-weight: bolder;
  }
}

.cardbox {
  &__txt {
    &__title {
      @extend h2;
      @extend %mediumsize;
    }
    &__place {
      @extend %littlesize;
      font-weight: lighter;
    }
  }
  &__like {
    @extend %bigsize;
  }
}

.footer__txt {
  @extend %littlesize;
}
