/* Polices de toutes les pages*/

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Robotobold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
	font-family: "Robotothin";
	src: url("fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

//Règles générales de polices

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

//ajustements aux différentes parties

a:link {
  text-decoration: none;
}

h2 {
  font-family: "Robotobold";
  font-size: 1.7em;
}

.presentation {
  &__txt {
	  font-family: "Robotothin";
    font-size: 1.2em;
	font-weight: 600;
  }
  &__btn {
    font-size: 1.2em;
    font-weight: bolder;
  }
}

.cardbox {
  &__txt {
    &__title {
      font-family: "Robotobold";
      font-size: 1.4em;
    }
    &__place {
      font-size: 1.2em;
      font-weight: lighter;
    }
  }
  &__link:visited {
    color: black;
  }
  &__like {
	  font-size: 1.7em;
  }
}

.footer {
	&__txtbox__line {
		font-size: 1.2em;
		i {
			font-size: 0.7em;
		}
	}
}
