@import "utils/variables";
@import "utils/mixins";
@import "utils/placeholders";
@import "base/fonts";
@import "base/mainrules";
@import "components/btn";
@import "components/cardbox";
@import "components/likeanimation";
@import "components/btnanimation";
@import "components/dishesanimation";
@import "layout/header";
@import "layout/footer";
@import "layout/banner";
@import "layout/food";
@import "layout/searchbar";
@import "pages/bannerpics";
@import "pages/presentation";
@import "pages/howto";
@import "pages/restaurants";
@import "pages/loaderanimation";
