/* ----------------------------------------------------------------
-----------Règles bannières----------------------------------------
----------------------------------------------------------------- */

.banner {
  height: 275px;
  width: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
}
