/* ----------------------------------------------------------------
-----------Règles du footer----------------------------------------
----------------------------------------------------------------- */

.footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: $footer;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  @include desktoponly{
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
  }
  &__txtbox {
    margin-left: 25px;
    @include desktoponly {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 2;
      margin-right: 5%;
    }
  }
  &__title{
    margin-left: 25px;
    @media screen and (min-width: 1100px) {
    margin-right: 5%;
    }
  }
  &__txtbox__line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 200px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    @include desktoponly {
      width: auto;
      justify-content: center;
    }
    &__icon {
      width: 30px;
    }
    a:link {
      color: white;
    }
    a:visited {
      color: white
    }
  }
}
