/* ----------------------------------------------------------------
-----------Règles section menu--------------------------------------
----------------------------------------------------------------- */

.food {
  background-color: rgb(246, 246, 246);
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -50px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__header {
    width: 90%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    &__title {
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__like {
      width: 10%;
    }
  }
  &__block {
    width: 90%;
    &__title {
      width: 80px;
      margin-bottom: 5px;
    }
  }
}

.line {
  margin-top: 0px;
  width: 40px;
  border-top: 2px solid rgb(153, 226, 208);
}

.dishes {
  width: 100%;
  &__box {
    width: 100%;
    margin-top: 15px;
    background-color: white;
    box-shadow: -5px 5px 5px lightgrey;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__txt {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.dish_name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}

.dish_sub {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px 10px 10px 10px;
  margin: 0px;
}

.dish_price {
  width: 10%;
  align-self: flex-end;
  padding-right: 15px;
}

/*à changer quand animation*/
.check {
  width: 10%;
  display: none;
}
