/* ----------------------------------------------------------------
-----------Règles du header----------------------------------------
----------------------------------------------------------------- */

.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  &__homelink {
    width: 10%;
    min-width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(1.5);
      transition: 300ms;
    }
    &.home {
      display: none;
    }
  }
  &__logo {
    width: 90%;
    height: 30px;
    &.home {
      width: 100%;
    }
  }
}
