@charset "UTF-8";
/* Type de police */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.dish_price, .cardbox__txt__title, .cardbox__img__txt, .search__txt, h2 {
  font-family: "Robotobold";
}

.food__block__title, .cardbox__txt__place, .presentation__txt {
  font-family: "Robotothin";
}

h1, .food__header__title {
  font-family: "Shrikhand";
}

/* Tailles de polices */
body {
  font-size: 20px;
}

.dish_price, .dish_sub, .footer__txtbox__line__icon, .footer__txt, .cardbox__img__txt, .fa-store, .fa-bars, .howto__steps__box__nbr, .howto__steps__box__txt, .search__txt {
  font-size: 15px;
}

.btn, .dish_name, .food__block__title, .cardbox__txt__place, .cardbox__txt__title, .presentation__txt {
  font-size: 18px;
}

.cardbox__like, .title, h1, .food__header__like {
  font-size: 25px;
}

.food__header__title {
  font-size: 30px;
}

h2 {
  font-size: 35px;
}

/* Règles spéciales de polices*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Robotobold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Robotothin";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}
body {
  font-weight: 400;
}

.food__header__title {
  font-weight: lighter;
}
h1 {
  font-weight: lighter;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.search {
  color: #353535;
}
.search__txt {
  color: #353535;
}

.presentation__txt {
  color: #353535;
  font-weight: 600;
}

.fa-ellipsis-v {
  font-size: 13px;
}

.fa-store {
  color: #9356dc;
}

.grey {
  color: #7e7e7e;
}

.cardbox__img__txt {
  color: #139273;
}
.cardbox__txt__place {
  font-weight: bolder;
}
.btn:link {
  color: white;
}
.btn:visited {
  color: white;
}

/*              Règles globales           */
html,
body {
  overflow-x: hidden;
  background-color: #f6f6f6;
}

body {
  margin: 0px;
}

/* ----------------------------------------------------------------
-----------Boutons pages ------------------------------------------
----------------------------------------------------------------- */
.btn {
  margin: 50px 0px 50px 0px;
  width: 250px;
  border-radius: 30px;
  border-style: none;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  text-align: center;
  padding: 15px 0px;
  box-shadow: -5px 5px 5px lightgrey;
}

/* ----------------------------------------------------------------
-----------Section restaurants -----------------------------------
----------------------------------------------------------------- */
.cardbox {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: -3px 3px 5px #d7d7d7;
}
.cardbox__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardbox__img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: flex-end;
}
.cardbox__img__txt {
  margin: 15px 15px 0px 0px;
  border-radius: 3px;
  height: 30px;
  width: 90px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardbox__subtxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.cardbox__txt {
  width: 90%;
}
.cardbox__txt__title {
  margin: 15px 0px 5px 0px;
}
.cardbox__txt__place {
  margin: 0px 0px 15px 0px;
}
.cardbox__like {
  position: relative;
  width: 10%;
}

.like1, .like2 {
  position: absolute;
  top: -10px;
}

/* ----------------------------------------------------------------
-----------Animation like -----------------------------------------
----------------------------------------------------------------- */
.like2 {
  background: -webkit-linear-gradient(-90deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like1 {
  z-index: 1;
  background: white;
}
.like1:hover {
  opacity: 0;
  transition: 700ms;
}

/* ----------------------------------------------------------------
-----------Animation boutons---------------------------------------
----------------------------------------------------------------- */
/* ----------------------------------------------------------------
-----------Règles du header----------------------------------------
----------------------------------------------------------------- */
.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow-x: hidden;
}
.header__homelink {
  width: 10%;
  min-width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__homelink.home {
  display: none;
}
.header__logo {
  width: 90%;
  height: 30px;
}
.header__logo.home {
  width: 100%;
}

/* ----------------------------------------------------------------
-----------Règles du footer----------------------------------------
----------------------------------------------------------------- */
.footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.footer__title, .footer__txtbox {
  margin-left: 25px;
}
.footer__txtbox__line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer__txtbox__line__icon {
  width: 30px;
}
.footer__txtbox__line a:link {
  color: white;
}

/* ----------------------------------------------------------------
-----------Règles bannières----------------------------------------
----------------------------------------------------------------- */
.banner {
  height: 275px;
  width: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
}

/* ----------------------------------------------------------------
-----------Règles section menu--------------------------------------
----------------------------------------------------------------- */
.food {
  background-color: #f6f6f6;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -50px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.food__header {
  width: 90%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}
.food__header__title {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food__header__like {
  width: 10%;
  position: relative;
}
.food__block {
  width: 90%;
}
.food__block__title {
  width: 80px;
  margin-bottom: 5px;
}

.line {
  margin-top: 0px;
  width: 40px;
  border-top: 2px solid #99e2d0;
}

.dishes {
  width: 100%;
}
.dishes__box {
  width: 100%;
  margin-top: 15px;
  background-color: white;
  box-shadow: -5px 5px 5px lightgrey;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes__box__txt {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}

.dish_name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}

.dish_sub {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px 10px 10px 10px;
  margin: 0px;
}

.dish_price {
  width: 10%;
  align-self: flex-end;
  padding-right: 15px;
}

/*à changer quand animation*/
.check {
  width: 10%;
  display: none;
}

/* ----------------------------------------------------------------
-----------Barre de lieu accueil-----------------------------------
----------------------------------------------------------------- */
.search {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 3px #b9b9b9;
}
.search__icon {
  margin-right: 15px;
}

/* ----------------------------------------------------------------
-----------Images bannière ----------------------------------------
----------------------------------------------------------------- */
.palette {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.delice {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.francaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.note {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

/* ----------------------------------------------------------------
-----------Presentation Accueil-----------------------------------
----------------------------------------------------------------- */
.presentation {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}
.presentation__txt {
  margin-top: 0px;
  width: 90%;
  text-align: center;
}
.presentation__btn {
  margin-top: 15px;
}

/* ----------------------------------------------------------------
-----------Section fonctionnement----------------------------------
----------------------------------------------------------------- */
.howto {
  background-color: white;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howto__title {
  align-self: flex-start;
  padding-left: 5%;
}
.howto__steps {
  width: 90%;
  margin-bottom: 50px;
}
.howto__steps__box {
  height: 70px;
  margin-left: 12.5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: -3px 3px 5px #d7d7d7;
}
.howto__steps__box__nbr {
  color: white;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12.5px;
}
.howto__steps__box__icon {
  margin-left: 20px;
}
.howto__steps__box__icon2 {
  margin: -1px 0px 0px 1px;
}
.howto__steps__box__txt {
  margin-left: 20px;
}

.alone {
  width: 20px;
}

.part1 {
  width: 5px;
}

.part2 {
  width: 14px;
}

/* ----------------------------------------------------------------
-----------Section restaurants -----------------------------------
----------------------------------------------------------------- */
.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__title {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 50px;
}
.restaurants__container {
  width: 90%;
  margin-bottom: 60px;
}

/*# sourceMappingURL=style.css.map */
