/* ----------------------------------------------------------------
-----------Images bannière ----------------------------------------
----------------------------------------------------------------- */

.palette {
  background-image: url("../images/restaurants/palette2500.jpg");
  &home {
    background-image: url("../images/restaurants/palette1080.jpg");
  }
}

.delice {
  background-image: url("../images/restaurants/delice2500.jpg");
  &home {
    background-image: url("../images/restaurants/delice1080.jpg");
  }
}

.francaise {
  background-image: url("../images/restaurants/francaise2500.jpg");
  &home {
    background-image: url("../images/restaurants/francaise1080.jpg");
  }
}

.note {
  background-image: url("../images/restaurants/note2500.jpg");
  &home {
    background-image: url("../images/restaurants/note1080.jpg");
  }
}
