/* ----------------------------------------------------------------
-----------Presentation Accueil-----------------------------------
----------------------------------------------------------------- */

.presentation {
  background-color: $backgrey;
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
  }
  &__txt {
    margin-top: 0px;
    width: 90%;
    text-align: center;
  }
  &__btn {
    margin-top: 15px;
  }
}
