/* ----------------------------------------------------------------
-----------Section restaurants -----------------------------------
----------------------------------------------------------------- */

.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 50px;
  }
  &__container {
    width: 90%;
    margin-bottom: 60px;
    @include desktoponly{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
