@mixin desktoponly {
	@media screen and (min-width: map-get($breakpoints, desktop)){
		@content;
	}
}

@mixin both {
	@media screen and (min-width: map-get($breakpoints, tablet-min)){
		@content;
	}
}

@mixin tabletonly {
	@media screen and (min-width: map-get($breakpoints, tablet-min )) and (max-width: map-get($breakpoints, tablet-max )){
		@content;
	}
}
