$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$footer: #353535;

$circlesize: 200px;

$card-delay: 200ms;

$breakpoints: (
  tablet-min: 800px,
  tablet-max: 1024px,
  desktop: 1025px,
);
